[2017-03-27 12:32] colin-kiegel opened #1 "cross-platform support + no-color-fallback"
Not all terminals support ANSI escape characters (e.g. on windows).

It would be nice, if
(a) this would also work on windows
(b) color codes are surpressed when the current terminal does not support them

I would like to switch to the format of `git diff --word-diff`, which is also readable without colors
[code]

This should be solved in the underlying `difference` crate, see https://github.com/j

[2017-03-27 13:16] colin-kiegel opened #2 "split words on special characters and punctuation"
The current implementation of `difference` can only words via a single character (we split via space `" "`).

This works fine in most cases, but is a bit coarse-grained when used on `std::fmt::Debug` output, which contains a lot of punctuation and special characters.

![example](https://raw.githubusercontent.com/colin-kiegel/rust-pretty-assertions/162f407eb8f627185ce70c0475a661b7480f0038/examples/

[2017-03-30 14:28] torkleyy opened #4 "clarify "22 lines of code" in README"
This sounds like every invocation would insert 22 lines into the calling function.

[2017-03-30 14:48] colin-kiegel commented on #4
@torkleyy Thanks for the report and reminding me to get rid of that sentence. :-)

The clarification is this: At the time of writing that sentence, the code of the crate was [exactly 22 lines](https://github.com/colin-kiegel/rust-pretty-assertions/blob/162f407eb8f627185ce70c0475a661b7480f0038/src/lib.rs#L54-L75). My original intention was to say that this crate is really simple - but I now believe

[2017-03-30 14:48] #4 closed

[2017-05-02 19:16] antoyo opened #5 "Consider pretty-print"
Hello.
It would be nice to have an option that would make this crate use `{:#?}` instead of `{:?}` to pretty-print the values.
Thanks to add this.

[2017-05-03 19:03] nbigaouette-eai opened #6 "Typo in README"
The README.md suggests adding the crate in `[dev-dependency]` so that it only gets included in tests build.

This is a typo: the proper TOML section should be `[dev-dependencies]` (plural).

See the [cargo documentation](http://doc.crates.io/specifying-dependencies.html#development-dependencies).

[2017-05-04 02:28] colin-kiegel commented on #6
Right. Since I'm on holiday, I'd appreciate a PR for this typo in readme and the lib.rs doc. :-)

[2017-05-07 04:06] #6 closed

[2017-05-07 11:01] colin-kiegel commented on #5
Thx for the suggestion. I'm inclined to accept a PR with this behind a feature flag if it's also well documented. :-)

[2017-06-01 17:09] hoangtranwork opened #8 "false warning of `use` when using pretty_assertions with test module"
I've try using *pretty_assertions* on a fresh library cargo project. The test module in such project has a `use super::my_module;` statement. After adding those `#[macro_use] extern crate pretty_assertions;` stuff in (following the guide), it causes false warning of the `use` statement.
Here's the asciinema recording:
[![asciicast](https://asciinema.org/a/123025.png)](https://asciinema.org/a/12302

[2017-06-02 00:34] colin-kiegel commented on #8
@hoangtranwork Welcome to Rust and thank you for the detailed report. :-)

I think this is not specific to _pretty_assertions_. Could you please change the order if some lines from

[code]

.. to

[code]

I inserted new lines to highlight the effect of `#[...]` statements. Please report back, if this solves your issue. Thank you.

[2017-06-04 18:34] fflorent commented on #5
I am working on the issue currently. The PR will probably come soon :).

Florent

[2017-06-06 13:48] hoangtranwork commented on #8
@colin-kiegel thank you and sorry for the delay, I didn't notice that github email notification doesn't work with non-watching repo.

I've tried you suggestion along with some others experiments with the postion of `#[macro_use]`, which dependencies section to use in `Cargo.toml`, and even using the `extern crate` line alone without `#[macro_use]`. I can find only 1 case that there's no false warn

[2017-06-20 11:40] kw217 opened #10 "assert_eq! too strict re strings"
The following test passes using the standard `assert_eq!`, but fails to compile using `pretty_assertions`:
[code]

The error is
[code]

Please can the behaviour of `assert_eq!` be relaxed, so `pretty_assertions` can truly be a drop-in replacement? Thanks.

[2017-06-24 09:36] fflorent commented on #10
Hi!

Disclaimer: I am not the maintainer of the crate.

I opened PR #11 for this. Feedback is welcome (even for bikeshedding, I would like to learn best practices in Rust). Thanks :).

Florent

[2017-06-24 16:25] #10 closed

[2017-06-24 17:06] colin-kiegel commented on #10
fixed in v0.2.1 :-)

[2017-06-24 17:12] fflorent commented on #10
Great!

[2017-06-24 19:22] colin-kiegel commented on #8
@hoangtranwork you were already very close to the solution :-)

[code]

In your attempts you only had this line in one of these places, but not in both.

I'll close this, since it's not a bug.

[2017-06-24 19:22] #8 closed

[2017-06-25 10:33] fflorent commented on #1
FWIW, for PR #9, I checked how the output renders on Windows 10 (using cargo test).

It works pretty well (using a classic cmd window)

![image](https://user-images.githubusercontent.com/371705/27515389-5bd22ee6-59a2-11e7-9c28-b73d6575cee1.png)

[2017-06-25 10:37] hoangtranwork commented on #8
Thank you, it works wells now. Though the double specifying of `#[cfg(test)]` seems redundant, not sure if this is a specific pretty_assertions issue or just general rust issue

[2017-06-25 10:41] colin-kiegel commented on #8
@hoangtranwork this behaviour is rust specific, `#[cfg(test)]` and other attributes always only affect the next item or statement. Glad I could help you. :-)

[2017-06-25 10:42] colin-kiegel commented on #1
great, thanks for the info.

[2017-06-25 17:22] fflorent commented on #1
Erf, bad news: https://superuser.com/a/1105718/134164

That's a new feature in Windows 10. Probably not supported in Windows 8 and 7, except if the user use compatible terminals.

[2017-06-26 08:34] kw217 commented on #10
Brilliant, thanks @colin-kiegel !

[2017-06-26 08:54] colin-kiegel commented on #10
I forward all kudos to @fflorent who fixed this ;-)

[2017-08-30 17:53] colin-kiegel commented on #5
released with v0.3.0. :-)

[2017-08-30 17:53] #5 closed

[2017-08-31 21:08] turboladen commented on #1
I dunno if this is the same issue or not but I'm on OSX (iTerm2) and the fancy arrows don't render for me (either?). I tried with a number of different fonts, to no avail; here's output from v0.3.2:

<img width="248" alt="screen shot 2017-08-31 at 2 07 43 pm" src="https://user-images.githubusercontent.com/142010/29945403-d9960f0e-8e55-11e7-8ded-2bbcf61e8ab2.png">

[2017-08-31 21:15] colin-kiegel commented on #1
ok, thanks for the info. Could you check which of these render in your terminal?

[code]

[2017-08-31 21:17] fflorent commented on #1
@colin-kiegel same issue here.

the first and the last one are the only ones to be well displayed on my terminal.

Florent

[2017-08-31 21:19] turboladen commented on #1
Here's what I get:

<img width="602" alt="screen shot 2017-08-31 at 2 16 57 pm" src="https://user-images.githubusercontent.com/142010/29945694-1c27ffc0-8e57-11e7-8ed1-698ec2627c0f.png">

No, it's not, but I'd wager it's quite common for developers on OSX to use. Looks like the default Terminal app on OSX renders the same though:

<img width="424" alt="screen shot 2017-08-31 at 2 18 29 pm" src="htt

[2017-08-31 21:28] colin-kiegel commented on #1
ah, ok. Good to know.

It's probably safest if we stick to something like https://en.wikipedia.org/wiki/Windows_Glyph_List_4 or even `<` / `>`. We could still make those bold to make it more visible.

Just to know our alternatives better - could someone of you check again, which of these work?
[code]

[2017-08-31 21:30] turboladen commented on #1
Most of those work for me:

<img width="187" alt="screen shot 2017-08-31 at 2 29 13 pm" src="https://user-images.githubusercontent.com/142010/29946104-df63b21c-8e58-11e7-84bf-c5c339f6656c.png">

[2017-08-31 21:42] fflorent commented on #1
Same here:
![image](https://user-images.githubusercontent.com/371705/29946537-0d6b4d94-8ea6-11e7-8fb0-0f4fc10c2081.png)

[2017-08-31 21:46] colin-kiegel commented on #1
Ok, I'm [asking a broader audience](https://users.rust-lang.org/t/mega-assert-eq-with-colorful-diff-drop-in-replacement/10101/21) to double check the glyphs that worked for both of you
```+ > → ❭ ❯ ❱ ▶ ➤```

[2017-08-31 21:47] turboladen commented on #1
Sweet! Thanks for being so responsive!

[2017-09-01 07:47] colin-kiegel commented on #1
I switched to `◀` / `▶` glyphs - fingers crossed. ;-)

[2017-09-01 21:22] Marwes commented on #1
`+ > → ❭ ❯ ❱ ▶ ➤` does not work well for me :/.
![capture](https://user-images.githubusercontent.com/957312/29988212-618b7928-8f6c-11e7-8489-50bfe948614b.PNG)

Windows 10 with Git Bash.

[2017-09-01 21:35] turboladen commented on #1
### iTerm2

Font: 12pt [Fira Mono](https://github.com/tonsky/FiraCode) font

It renders for me, although if I'm picky, with my typical settings the spacing is kinda funky:

![screen shot 2017-09-01 at 2 23 54 pm](https://user-images.githubusercontent.com/142010/29988271-43e1b3ec-8f21-11e7-955f-edeb2699540f.png)

----

### Terminal

Font: Menlo 11pt (default, IIRC)

Looks better here although still

[2017-09-02 10:56] colin-kiegel commented on #1
@turboladen ok, it's plain `<` and `>` now. :-)

[2017-09-05 15:39] hcpl opened #12 "Incorrect diff value placement"
### Screenshot

![2017-09-05-183035-506x464_maim_slop](https://user-images.githubusercontent.com/17436405/30069300-0b6de7a6-9269-11e7-891c-f9d6a86a0318.png)

### Code to reproduce

[code]

[2017-09-06 19:46] turboladen commented on #1
Works for me! Thanks!

[2017-09-10 17:35] colin-kiegel commented on #12
@hcpl Thank you for this excellent report :-)

As part of this fix, I intend to improve the readability of character-level differences. Here are two versions of a simplified example. I find version A easier to read, but it doesn't highlight differences in whitespace characters.

# A
![issue12_a](https://user-images.githubusercontent.com/7691186/30251390-e9a7a75c-965e-11e7-8c59-ee0967aefd15.png)

#

[2017-09-10 18:29] hcpl commented on #12
Dark theme:
- A is easiest to read;
- B lacks contrast but contains whitespace diff;
- C both is easy to read and contains whitespace diff.

Light theme:
- A looks awful, especially when the screen brightness is > 90% and you're looking at text at some angle;
- B is pretty good, but diff`ed characters can be too dark to spot immediately;
- C is perfect.

So overall C is best for me if I had to sti

[2017-09-10 18:36] fflorent commented on #12
I wish that features (or something similar in `Cargo.toml`) could give some ability to pass strings to the code, so we can give to the user more control of how the diff are rendered.

Say something like:
[code]

Do you know anything that could the trick?

Florent

[2017-09-10 18:51] hcpl commented on #12
@fflorent `log` uses a global `set_logger()` technique: https://github.com/rust-lang-nursery/log/blob/master/src/lib.rs#L1088 which updates the global state so that all subsequent [`log!()`](https://github.com/rust-lang-nursery/log/blob/master/src/macros.rs#L41) calls check it for the actual logging.

[2017-09-10 20:42] fflorent commented on #12
Sounds neat! What do you think @colin-kiegel?

Is there any way to set the preferences only once in the tests (for more convenience)?

[2017-09-10 20:52] colin-kiegel commented on #12
@fflorent I think, at some point, we could try this. But my priority would be to implement a good default first.

Currently I am working in a local branch with two sets of changes related to this bug
(a) improving the formatting - which is basically done - I am only waiting for more feedback here
(b) a complete re-implementation of the diff-algorithm, which has some weird edge cases like [this iss

[2017-09-19 11:19] Michael-F-Bryan commented on #1
At work I have to work on a windows machine and every now and then I notice that the colouring breaks my terminal. It looks almost like at the end of a coloured section it'll forget to revert back to the default colour, meaning from then onwards my terminal's text will be green or red.

I'd probably be better off reporting that to the colour library you use under the hood, just thought I'd let you

[2017-10-15 20:48] colin-kiegel commented on #12
Fixing this is blocked by PR https://github.com/johannhof/difference.rs/pull/22

I decided to at least publish the slightly improved color coding with `v0.4.0`. It should now look like this:

![image](https://user-images.githubusercontent.com/7691186/31588996-44329aa4-b1fa-11e7-95a4-9278dd47497f.png)

Note: The missing line break is still there.

But after the before mentioned PR lands, it will lo

[2017-10-15 21:28] hcpl commented on #12
@colin-kiegel looks awesome, thanks for your work! I'm not in hurry right now, so I can wait for upstream PR.

[2017-10-15 21:38] colin-kiegel commented on #12
@hcpl thx
@fflorent If you want to, feel free to experiment with customizing the output and color coding. I would prefer to keep it simple. Would a feature toggle between variants (A) and (C) be sufficient for you?

**PS**: For the moment I went with (C), because it carries more information, but interestingly in [this poll](https://users.rust-lang.org/t/mega-assert-eq-with-colorful-diff-drop-in-re

[2017-10-15 21:44] colin-kiegel commented on #1
@Michael-F-Bryan: Thx. Can you still reproduce this? If so, please report a minimal example - ideally as an independent ticket, mentioning this one. :-)

[2017-10-17 17:10] colin-kiegel opened #14 "why are old versions of pretty-assertion more popular?"
Why do people prefer old versions? :confused:
How can we improve this?

# Downloads as of 2017-10-17

## [... over the last 90 days](https://crates.io/crates/pretty-assertions#crate-downloads)

![crate downloads](https://user-images.githubusercontent.com/7691186/31678174-92e588cc-b36d-11e7-8d4f-75182fe90096.png)

## ... per version

| Version                                          | Downloads |

[2017-10-18 06:20] fflorent commented on #14
Oh ! Good question. Is there a room for this question on some topics in https://users.rust-lang.org/ ?

Florent

[2017-10-18 21:39] colin-kiegel commented on #14
There are 61 [`Cargo.toml` files on github containing the string `pretty_assertions`](https://github.com/search?l=TOML&q=pretty_assertions+&type=Code&utf8=%E2%9C%93)  (as of 2017-10-18). I checked roughly 20 of them via blame. I compared the crate version in `Cargo.toml` with the most recent `pretty_assertions` version at the commit date the dependency was introduced.

Only 1 out of 20 crates (5%)

[2017-10-19 07:16] fflorent commented on #14
A question comes to my mind: how relevant are those metrics (i.e. the number of downloads) for the popularity?

Consider this scenario: if a company use a crate in a CI and that CI is run hundreds of time a day (without any cache), can that distort the metrics?

Probably worth to know more about how those metrics work, maybe by discussing with the maintainers of crates.io.

[2017-10-19 07:46] colin-kiegel commented on #14
yes, it's not a measure of "unique projects" and can be heavily distorted by single very CI-active projects. I think most important part is to ask people if there is something wrong with newer versions. :-) Like on the rust-lang post (or here).

[2017-10-31 02:53] Michael-F-Bryan opened #15 "Ansi colour codes emitted on Powershell"
I've just reinstalled my work computer and it looks like `pretty_assertions` is now printing ansi codes instead of using the native windows mechanism for terminal colours. It's probably something to do with my environment, but do you have any idea why this may be happening even though cargo is able to print colours just fine?

Here's a screenshot to show the output.

![image](https://user-images.g

[2017-10-31 07:19] colin-kiegel commented on #15
@Michael-F-Bryan: Thx for the report

- Did it work before for you?
- Does it work with older versions of `pretty_assertions`?

[2017-11-01 00:35] Michael-F-Bryan commented on #15
Yeah, I used to use it all the time at work although I've had my `Cargo.toml` set to use `0.4` for a month or so now. I just tried version `0.3.4` and powershell is still printing the escape codes, meaning it's probably something to do with my environment and not your library. This is on a clean install of Windows 10 though, so I'm not 100% sure what the difference could be.

[2017-11-02 16:36] Enet4 commented on #14
I can speak from personal experience that I installed `pretty_assertions` during the pre-release development of my crate `nifti`, and it was quite useful then. Once that step was done, and the bugs were squashed, there was little incentive to keep it updated as a dev dependency.

I can also understand some reluctance from the fact that the crate is still on a 0 major version, which might give the

[2017-11-02 17:46] colin-kiegel commented on #14
@Enet4 thx for your feedback.

1.0 is a good question. A _must-have_ is a good cross-platform story #1 and some bugs fixed in our dependency `difference.rs` (https://github.com/johannhof/difference.rs/issues/25). Apart from that I would just ask people what they expect from 1.0.

[2017-11-26 22:42] colin-kiegel opened #16 "trailing comma suppoert (rust 1.22)"
rust 1.22 supports trailing commas like
[code]

https://github.com/rust-lang/rust/pull/45887

[2017-11-27 07:09] fflorent commented on #16
Yup. Probably a good first bug!

Florent

[2017-12-07 07:28] fflorent opened #18 "Expected strings are hard to maintain and to review"
The readability of the expected strings in the tests of the crate tends to be a bit tedious to maintain and to read like here:
https://github.com/colin-kiegel/rust-pretty-assertions/blob/master/tests/assert_eq.rs#L78-L93

I wonder if there is no nicer way to write them.

Florent

[2017-12-07 08:06] colin-kiegel commented on #18
Indeed! :-)

I usually pipe all `cargo test` output to a file and copy-paste from there.. If the output changes for a lot of tests, this is (a) a painfully slow process.. and (b) it's far from readable.. But I don't have a better idea.

[2017-12-07 08:13] #16 closed

[2017-12-10 18:38] colin-kiegel commented on #16
published with `v0.4.1`

[2017-12-16 15:59] spacecowboy opened #19 "Unbearably slow for big texts"
Running an `assert_eq` on a large string is extremely slow with this library enabled.

I noticed it when I added a placeholder assertion before starting some coding. A regular assertion takes no time at all. With pretty-assertions enabled, the test does not return in 5 minutes where I got tired of waiting and killed it.

This is the code:

[code]

And this is the test output (where you can see the

[2017-12-16 16:43] colin-kiegel commented on #19
Yes, there is some additional work in calculating the changeset, but it should not be _that_ slow. Most importantly, the work is only done, if the assertion fails.

It would be interesting to determine if this is some kind of infinite loop or not.

Does anyone want to investigate this? :-)

[2017-12-18 15:11] colin-kiegel commented on #12
still waiting for a [new release of `difference.rs`](https://github.com/johannhof/difference.rs/issues/25).

[2018-01-10 05:59] vitiral opened #20 "doesn't seem to work when used in tests/ folder"
This is a rather bizzare bug. I really wonder if it is user error.

I can't seem to get this module to work as advertised for tests in my `tests/` folder. It doesn't seem possible that that would be the case... I am thouroughly confused :)

Thanks for the great library!

One thing that would be nice is to export `pretty_assert_eq` macros, etc so that I can be explicit in what I'm doing. That would

[2018-01-10 06:01] vitiral commented on #20
and... I'm an idiot. I changed it to asserting bytes vs asserting strings -- and diffing is not implemented for bytes.

Sorry about that!

[2018-01-10 06:01] #20 closed

[2018-01-20 17:30] killercup opened #21 "Consider publishing format_changeset as a crate"
I just copied format_changeset.rs verbatim into a repo (cf. <https://github.com/rust-lang-nursery/rust-clippy/pull/2384>) to get your fancy diff output without the assert/panic part :)

Maybe it'd make sense to create at difference-formatters crate that contains, well, some formatters for text diffs using difference?

[2018-01-31 22:11] colin-kiegel commented on #12
finally fixed with `v0.5.0` :-)

[2018-01-31 22:11] #12 closed

[2018-02-16 00:41] Michael-F-Bryan commented on #15
@colin-kiegel, what are your thoughts on swapping to the [term] crate for rendering colours instead of `ansi_term`? For some reason PowerShell has decided it doesn't want to interpret ANSI escape codes again. I can always hack around this on my side, but it seems like a better solution in the long term would be to use a cross-platform terminal library.

[term]: https://crates.io/crates/term

[2018-03-09 16:37] colin-kiegel commented on #15
@Michael-F-Bryan Sounds like a good idea to me. Feel free to send me a PR, if you want to. ;-)

[2018-03-09 16:40] colin-kiegel commented on #21
Sorry for answering late. Sounds reasonable, but so don't want to maintain another crate right now.

But if anyone else out there does, I would consider using this as a dependency. :-)

[2018-03-22 09:49] Screwtapello commented on #1
There's another situation where ANSI colours generally aren't available: when the compiler output is piped into an editor or IDE. Much like the Rust compiler's warnings are still useful when colour is disabled, it would be nice if this crate's output was just as useful without colour output.

Are you familiar with how Python's unit test framework formats failed assertions?

[code]

Being familiar

[2018-06-10 10:57] Nemo157 opened #24 "Nicer formatting for multiline strings"
While the current output is miles ahead of the default `assert_eq!` for finding the errors in multiline strings, it would be amazing if multiline strings could actually be displayed as multiline. Another extension to this would be to use raw string literals when the string contains embedded `"` characters

Current output (0.5.1):

![screen shot 2018-06-10 at 12 42 46 pm](https://user-images.github

[2018-06-10 11:49] Nemo157 commented on #24
Pushed a super-quick implementation of this: https://github.com/Nemo157/rust-pretty-assertions/commit/93326329cbdbc60fb54062b8c351a01aaf60c28a

Probably needs a bit better heuristics, but it at least works for my usecase:

![screen shot 2018-06-10 at 1 48 43 pm](https://user-images.githubusercontent.com/81079/41201274-0acadd50-6cb5-11e8-9040-254232b06c8f.png)

[2018-10-20 17:17] sanmai-NL commented on #21
Note to all: why is this useful? Because unit tests can now return `Result`s, not only panick.

[2018-11-05 11:04] Kixunil commented on #19
I have the same problem. I use this crate to help with comparing my generated code to the expected one in my [configure_me](https://crates.io/crates/configure_me) crate. I already hit the 60 second limit Rust imposes.

[2018-12-20 16:35] asomers opened #25 "Rust 2018 documentation"
In the 2018 edition, `#[macro_use]` is gone, or at least deprecated.  Instead, the new way to import macros is just like importing functions.  So using pretty_assertions in Rust 2018 requires a `use pretty_assertions::{assert_eq, assert_ne};`.  The docs should mention that.

Unfortunately, that `use` statement must be repeated in *every test module*.  It would be great if you could find a better w

[2019-01-12 00:18] idubrov commented on #24
Here is a non-heuristic variant we use:

[code]
but you have to wrap strings manually: `assert_eq!(PrettyString("hello"), PrettyString("bye"))`.

[2019-01-14 01:52] nickolay opened #27 "Multiline diff gets confused by whitespace"
I'm trying to use pretty-assertions for [snapshot testing](https://blog.anp.lol/rust/2017/08/18/golden-master-regression-in-rust/). I compare the snapshotted multiline-string with the new value using the `PrettyString` trick from #24.

When the actual result got indented (compared to the snapshot), the diff output became very confused:
<img width="397" alt="snap" src="https://user-images.githubuse

[2019-02-15 17:52] colin-kiegel commented on #27
I agree, that the presentation is confusing - despite being a _correct solution_, it doesn´t seem to be an optimal solution.

You already mentioned, that the current heuristic algorithm is doing two passes and the first is _line-based_, while the second pass is _character-based_. That`s the problem: The first pass doesn`t look at whitespaces (or any metric of edit-distance)...

I´m open for sugges

[2019-02-15 18:22] #25 closed

[2019-02-15 18:24] colin-kiegel commented on #25
Thx. I updated the docs in master - the next release `0.6.0` will target the Rust 2018 edition

[2019-02-15 21:39] #14 closed

[2019-02-15 21:44] colin-kiegel commented on #24
@Nemo157 Yes, I would be interested in the feature - but maybe behind a feature flag (we can discuss, what the default should be). Are you still interested in contributing to this feature?

Sorry for replying so late..

[2019-02-21 08:48] svenstaro opened #29 "Getting weird Windows-only failures on 0.6.0"
So I'm getting this failure that has something to do with vt100 but only on Windows: https://travis-ci.com/svenstaro/mt940-rs/jobs/179388389

I don't really understand it but it keeps me from upgrading for now. Maybe you can take a look?

[2019-02-21 08:56] orium commented on #29
I'm having the same problem: https://travis-ci.org/orium/rpds/jobs/496248771#L187

[2019-02-21 09:18] colin-kiegel commented on #29
Thanks for the bug report.

We introduced `vt100` dependency with PR #28. It's [source code](https://github.com/Phundrak/output-vt100-rs/blob/master/src/lib.rs) is super simple. The panic occurs in this line:
https://github.com/Phundrak/output-vt100-rs/blob/master/src/lib.rs#L36

[code]

[2019-02-21 09:22] colin-kiegel commented on #29
@Phundrak can you have a look at this?
Would it be feasible to make your library more failsafe (not panicking)? E.g. by delegation of error handling `try_init() -> Result<_,_>` or something similar.

Otherwise I'd make this opt-in only for the time being.

cc @nbouteme

[2019-02-21 10:02] nbouteme commented on #29
I think the issue is that CI systems typically redirect the executable output through a pipe and the system calls expect stdout to be a console. This also occured on AppVeyor.

Anyways as suggested, I'll add a try_init that doesn't panic.

[2019-02-21 10:22] nbouteme commented on #29
It's done. Unfortunately I can't publish the new output_vt100 version to crates.io, as @Phundrak has yet to add me as an owner, and he hasn't been responding to my messages lately.

[2019-02-21 20:23] colin-kiegel commented on #29
fix is out with `v0.6.1`

thx @nbouteme for your quick support :-)

[2019-02-21 20:23] #29 closed

[2019-02-21 21:17] colin-kiegel opened #31 "no-color-fallback"
ANSI colours aren't available ...
a) when the compiler output is piped, e.g. into an editor or IDE
b) in some terminals without the support

Much like the Rust compiler's warnings are still useful when colour is disabled, it would be nice if this crate's output was just as useful without colour output.

# Option 1

[code]

* PRO: unambiguous
- CON: minor differences hard to spot (especially in lon

[2019-02-21 21:18] colin-kiegel commented on #1
closing in favour of a new ticket #31

[2019-02-21 21:18] #1 closed

[2019-02-21 21:19] colin-kiegel commented on #18
I don't expect a lightweight solution for this ...

[2019-02-21 21:19] #18 closed

[2019-02-21 21:23] colin-kiegel commented on #15
this should be fixed by #28 now.

[2019-02-21 21:23] #15 closed

[2019-02-21 21:25] colin-kiegel commented on #2
this is obsolete, since we switched from one-pass _word_-diff to two-pass _line+character_-diff

[2019-02-21 21:25] #2 closed

[2019-02-21 23:41] Screwtapello commented on #31
In general, no. `stdout` is just a byte-sink, and there's no way to know what the process at the other end will do with it. However:

- [the `atty` crate](https://github.com/softprops/atty) can tell you whether a given stream is connected to a terminal or not. If it's not connected to a terminal then *probably* you shouldn't send ANSI codes.
- if it is connected to a terminal, it *probably* suppor

[2019-02-23 18:51] svenstaro commented on #29
Working fine, thanks guys!

[2019-06-06 20:44] TimoFreiberg opened #32 "Tests fail on master (linux, stable and nightly)"
Checked out master, ran `rustup run nightly cargo test` and `rustup run stable cargo test - both test suites fail

[code]

Same/similar test failures for stable

Did I do something wrong?

[2019-06-09 09:07] #32 closed

[2019-06-09 09:08] colin-kiegel commented on #32
Thank you. I restarted the latest travis build and I can confirm this error:
https://travis-ci.org/colin-kiegel/rust-pretty-assertions/builds/500569328

seems like Rust includes trailing commas starting with `v1.35`, which have not been there before

[code]
versus
[code]

I pushed a fix to the master branch

[2019-06-23 21:15] martinlindhe commented on #24
Ping @Nemo157

If you no longer wish to work on having your branch upstreamed, I am willing to help finish it up

[2019-07-15 10:53] robinkrahl commented on #32
Do you have release scheduled that will ship this fix?  I’m packaging pretty_assertions for Debian, and our [build][] fails due to this issue.

[build]: https://buildd.debian.org/status/fetch.php?pkg=rust-pretty-assertions&arch=amd64&ver=0.6.1-1&stamp=1563094911&raw=0

[2019-07-17 06:03] colin-kiegel commented on #32
Thx. I'll look into this, probably this weekend

[2019-07-24 06:00] phansch commented on #19
This is my first time tracing down a performance issue but it looks like the majority of the slowdown is caused by the `difference.rs` crate and not by `rust-pretty-assertions`:

![Selection_063](https://user-images.githubusercontent.com/2042399/61768907-0555b900-ade9-11e9-9b51-7c5077bf6c96.png)

I'll have a look at the diff crate now and see if it can be improved in some way.

[2019-07-24 06:32] phansch commented on #19
As a workaround, you can also add

[code]

to your `Cargo.toml`

[2019-08-12 22:06] rfdonnelly commented on #24
I've extended @idubrov solution to automate the wrapping of strings with a `PrettyString` by adding a local version of the `assert_eq!()` macro that wraps the strings and calls `pretty_assertions::assert_eq!()`.

[code]

Now you can just call `assert_eq!()` as normal:

[code]

[2019-09-09 08:42] cormacrelf opened #35 "Use -/+ instead of </>"
It's not a purely cosmetic idea. + and - in the first column of text makes it very easy to get diff syntax highlighting when you copy and paste test output into GitHub comments. I find myself replacing the angle braces manually to get this effect.

[code]

[code]

[2019-10-22 14:27] Lythenas commented on #19
It's not only extremely slow but also has a memory leak. On two strings containing xml it took up 4GB before I canceled.

[2019-11-06 04:45] cormacrelf commented on #27
Another way of saying this, I think, is that the `difference` crate is not line-aware, and does a LCS diff as if the entire input is one line. This is quite right for, e.g. a -/+ pair of lines, to show the specific changes. But it doesn't present good output for multiline inputs the way Myers or Patience will. (Consensus seems to be that Patience is generally the best we can do for code and simila

[2019-11-06 05:14] cormacrelf commented on #27
I deleted a previous comment that was wildly inaccurate.

What we actually want here is

1. A subjectively better diff algorithm than the `difference` crate's plain LCS, like Patience or Histogram, which is a faster version of Patience: look through the figures in https://rdcu.be/bWfbo for a sense of how much better it is than Myers, or tell Git to use `diff.algorithm` = `histogram` and try it out

[2020-01-01 17:43] rivy opened #37 "Allow optional argument names (replacing "left"/"right")"
"left" and "right" are semantically neutral labels. In many cases, it would be easier to understand what is actually failing if the labels could be changed to a something with more meaning (eg, "expect" and "actual"). An example proposed use and output ...

`assert_eq!( expect: [1, 2, 4], actual: [1, 2, 8]);`

[code]

* ref: <https://users.rust-lang.org/t/assert-eq-expected-and-actual/20304>

[2020-01-17 21:30] Herschel commented on #24
This would be a very helpful feature. I'm currently using the suggestion above by @rfdonnelly, which works great!

[2020-02-21 13:25] Luro02 opened #40 "pretty assert! macro"
I really like this crate for it's beautiful `assert_eq` macro, but sometimes you have for example a function, that returns only a `bool`, so you have to use `assert!`. If such an assertion fails the panic message looks something like this:

[code]

which is fine, but depending on how much space you have in your terminal it looks like this

[code]

and this can definitely be improved!

I could imag

[2020-02-21 17:28] Luro02 commented on #40
Closing this, because it is currently not possible to pretty print the rust code.

[2020-02-21 17:28] #40 closed

[2020-04-10 07:00] Stargateur opened #41 "assert_eq(a,b,) doesn't show pretty printing"
Giving the following MCVE:

[code]

[code]

Add an extra comma, seem to disable everything.

[2020-04-10 07:42] Stargateur commented on #41
So, be aware that `pretty_assertions::assert_eq!(a,b,);` doesn't use the pretty print :p I'm full of sadness. don't add extra `,`

[2020-04-10 08:05] Stargateur commented on #41
Like I didn't `use pretty_assertions::assert_eq;` the line:

https://github.com/colin-kiegel/rust-pretty-assertions/blob/2f4058ac7fb5e24a923aef80851c6608b6683d0f/src/lib.rs#L113-L115

fail back to std implementation, I think we need to use a internal second macro to avoid repetition code and the bug. But I'm don't know much about rust declarative macro.

Same problem will happen for `assert_ne!`:

[2020-07-13 16:51] jasongrlicky commented on #19
As of Rust 1.41, Cargo supports overriding build settings for specific dependencies, so you can compile the `difference` crate (which is what is slowing down `pretty_assertions`) with optimizations for the development profile by adding the following to your `Cargo.toml`:

[code]

This way you don't have to compile your whole crate and all of its dependencies with optimizations when testing just to

[2020-07-29 00:22] lig commented on #24
@colin-kiegel it looks like adding something special to `assert_eq!` call to use diff by Display instead of diff by Debug is not a problem for users. Maybe, it would be enough to add an optional third argument to the signature, i.e. passing the method to use explicitly.

**Examples**

[code]

[2020-08-02 13:22] stanislav-tkach opened #42 "Unsized values"
[code]
Regular assertions work with unsized values, but pretty_assertions give an error:
The following code gives an error:
[code]

[2020-08-26 16:59] spenserblack commented on #41
This should do it (it's probably what was intended).
[code]
But the optional `,` can also be captured with this macro pattern.
[code]

[2020-09-30 19:18] Wilfred commented on #24
One workaround I've found helpful is converting my strings to a vec of lines, and then using `assert_eq` with that.

[2020-10-27 17:58] gmoshkin commented on #41
Spent a couple of hours today finding out this bug :(

[2021-01-07 10:02] jonasbb opened #44 "RUSTSEC-2020-0095: `difference` is unmaintained"
`difference` is a dependency of `pretty-assertions`. The crate is unmaintained now, see the [RUSTSEC-2020-0095 advisory](https://github.com/RustSec/advisory-db/blob/master/crates/difference/RUSTSEC-2020-0095.md).
`pretty-assertions` is used quite a bit in the ecosystem and since it pulls in `difference` `cargo audit` will warn about this in every crate.
Maybe it is possible to migrate to one of th

[2021-01-14 01:44] brightly-salty commented on #44
I'd be willing to attempt this and submit a PR if it would be accepted.

[2021-01-14 02:30] brightly-salty commented on #44
Actually looks like difference provides a pretty large portion of pretty_assertion's functionality. It looks like diffus will provide the best replacement, but I think this is not the job for a first-time contributor.

[2021-01-27 09:36] mitsuhiko commented on #44
If someone wants to give this a try, the inline highlighting of this crate is something I would also like to the [similar](https://github.com/mitsuhiko/similar/) replacement crate. Then that would become a pretty straightforward drop in replacement.

[2021-02-02 17:48] tommilligan commented on #44
I've submitted an implementation in #45 using `diffus` to replace `difference` - open to any feedback on the details

[2021-02-07 09:26] mitsuhiko commented on #44
@tommilligan curious why you're saying similar does not support line diffing.

[2021-02-07 10:04] tommilligan commented on #44
@mitsuhiko apologies, going back and reading the docs I see it clearly supports arbitrary sequences 🤦‍♂️ my bad.

In that case I will port my PR to `similar` as well, then compare the build size/performance of both against master. Ideally I would like a zero-dependency crate, so `similar` wins over `difference` there.

[2021-02-07 19:42] mitsuhiko commented on #44
@tommilligan fwiw with similar the entire crate gets reduced to something like this: https://gist.github.com/mitsuhiko/b2e1b280bebedc783495a10b0fa7b3e2

Note that currently similar's `inline` feature pulls in the unicode crate which is also why I made that feature optional, but I think it would also probably make sense to make the inline diffing more configurable so that the unicode feature is not

[2021-02-09 14:00] mrcosta commented on #44
Did you get any feedback from the maintainer? The last update in this crate is quite old. @colin-kiegel are you around? Otherwise is one more crate to maybe open a rust-sec entry =/

[2021-02-09 15:41] tommilligan commented on #44
@mrcosta I've made contact with @colin-kiegel and we've outlined a plan for ongoing maintenance of the `pretty_assertions` crate, that I'll be working on implementing over the next few weeks. No rust-sec entry required yet!

I'm happy to ping you when I have a more formal plan and tasklist written up.

[2021-02-09 20:38] tommilligan opened #46 "Enforce CI for all supported targets"
- [x] The codebase contains additional code paths for Windows platform targets. These are not currently tested under the Travis CI config
- [x] The existing Linux testing does not appear to be active. Check the Travis CI app configuration
- [x] The `main` branch is not protected with the CI build status, which it should be

[2021-02-09 21:21] tommilligan opened #48 "Add benchmarks for public API"
Before any major rewriting, setup some benchmarks so we can check for regressions.

We'll want to check for regressions in all cases, but especially the hot path (where the assertions pass without panicking).

The benchmarks shouldn't be run automatically, just be available for checking locally.

[2021-02-10 21:51] #42 closed

[2021-02-10 22:00] tommilligan commented on #48
A first pass has been added [here](https://github.com/tommilligan/rust-pretty-assertions-bench). As any benchmarking pulls in a ton more dependencies and `dev-dependencies` cannot be optional, I've put in a separate crate/repo.

[2021-02-10 22:00] #48 closed

[2021-02-10 22:41] #41 closed

[2021-02-10 22:41] tommilligan commented on #41
Thanks for reporting this. A fix has been merged and will be in the next release.

[2021-02-13 20:27] tommilligan commented on #44
A fix has been merged to `main` - the next release will not depend on `difference`.

[2021-02-13 20:27] #44 closed

[2021-02-20 09:10] mitsuhiko commented on #19
After some investigations triggered by #51 into even worse performance with similar I did some deep diving into this particular usecase. Unfortunately it's very common for both this crate and my snapshot testing library that the diff will be entirely distinct. If that becomes large enough this triggers pathological cases in almost all diffing algorithms.

LCS which is what this crate uses needs to

[2021-03-05 23:41] dralley commented on #24
I'm trying to compare XML and this would be a lifesaver.  It looks like there's some activity in this repo again, is this being looked at?

[2021-03-09 08:17] tommilligan commented on #46
Closed as checked with Github Actions, with branch protection enforced on `main`

[2021-03-09 08:17] #46 closed

[2021-03-12 21:20] colin-kiegel commented on #24
I can see there is quite some interest in a different representation of multiline string diffs and I would appreciate it _behind a feature flag or something similar_ at first - to be on the safe side.

The goal of `pretty_assertions` is to be a drop-in-replacement for `assert_eq!` with different _formatting_. This is why I try to keep it similar at its roots, IMO this implies:

* `pretty_assertion

[2021-03-13 19:30] Ch00k commented on #19
`difference` has been [replaced](https://github.com/colin-kiegel/rust-pretty-assertions/commit/c26cc235c0b0c568afb850787d93bfe3b2a391f2) by `diff`, so the `Cargo.toml` hack from [this](https://github.com/colin-kiegel/rust-pretty-assertions/issues/19#issuecomment-657672143) comment should look like this:

[code]

[2021-03-17 14:35] colin-kiegel commented on #19
@Ch00k @jasongrlicky Thank you for this tweak - would you be interested in performing some benchmarks and adding a note to the documentation and/or readme via pull request?

cc @tommilligan

[2021-04-10 06:16] KSXGitHub opened #69 "Replace all occurences of `panic!` with `::std::panic!` so that it may work in `#![no_implicit_prelude]` context"

[2021-04-15 19:45] #69 closed

[2021-04-15 19:57] tommilligan commented on #69
Thanks for reporting this - a fix will be in the next release.

[2021-04-16 18:58] tommilligan commented on #24
I've been thinking about this in the background, as it seems to be a common theme around many issues/PRs in this repo (there are currently 3 PRs open to do with customising/tweaking the output of `pretty_assertions`). There's obviously interest in customising the output, but no two people agree on the same output format.

As I see it, the core functions of `pretty_assertions` for the user are:

-

[2021-04-17 11:06] colin-kiegel commented on #24
@tommilligan I like your line of thinking, to provide tutorials and basic building blocks for custom implementations. This sounds like a good tradeoff with high flexibility and low maintenance burden.

We can then observe whether specific extensions become particularly popular - and decide whether we want to include them later.

Alternatively to the "library"-metaphor, we could also investigate a

[2021-06-22 14:13] categulario commented on #24
Hi everyone,

I was just looking for a way to display a nice diff in my asserts and found this project and was very excited. Then I looked at the default string diff and was very disappointed and eventually ran into this thread. My two cents: I bet a nice multi-line string diff is the expected default (it was for me). And while the solution mentioned by @rfdonnelly works just fine it is a problem

[2021-08-13 11:00] gilescope opened #80 "Feature request: pretty assert_matches!"
Now that rust has `assert_matches` ( https://github.com/rust-lang/rust/pull/82770 ) in the std lib it would be great if we could have a pretty version.

[2021-08-13 16:19] tommilligan commented on #80
This is a great idea!

This will be on the top of my todo list for this crate, but also PR's implementing this would be well received. Feels like there might some nuance in the pattern formatting if we can't just inline part of the stdlib for this.

[2021-09-08 19:33] Chewie commented on #31
Hello, I wanted to know if this feature was still worked on?
I'm still a beginner in Rust, but I'd gladly help if I can!

[2021-09-09 17:16] tommilligan commented on #31
Hey, I'm open to helping out anyone wanting to take on the work and chat about an overall design - I'm unlikely to work on it myself in the near future.

As a vague outline, I would be happy with a solution that:
- uses `atty` as a heuristic to decide whether to use color (we just need a rough guide, and `term` is massive)
- looks like Option 1/Option 2 as outlined above (I think the implementatio

[2021-09-12 08:54] Luro02 opened #82 "Crate does no longer work with no-std on 0.7"
It fails with:
[code]
(feature gating every single test with the std feature would be really annoying, especially when the std feature is disabled by default)

The macro expands in `0.7` to something like this:
[code]

Previously (`0.6`), it expanded to
[code]

Related issue: KokaKiwi/rust-hex#63

[2021-09-12 14:36] tommilligan commented on #82
Hey, thanks for the report. I've put together a PR which I think should provide no_std support, as long as you still have an allocator: https://github.com/colin-kiegel/rust-pretty-assertions/pull/83

I don't have masses of experience with `no_std` support - if you could verify this fix works for your use case, I'll be able to merge and release it faster. You can try out the patch with something li

[2021-09-12 17:06] Luro02 commented on #82
Thank you, this does work as expected

[2021-10-01 15:51] tommilligan commented on #82
Closed as released in v1.0.0

[2021-10-01 15:51] #82 closed

[2021-12-02 00:00] DarrenTsung opened #85 "Feature request: Sort HashMaps if possible?"
Hi, thanks for the great crate.

When I use `pretty_assertions`, it's pretty difficult to get good diffing output when comparing structs that contain HashMaps because the ordering is non-deterministic.

Would it be possible to sort the diff output by the key of the HashMap (best effort)? Since the key can be printed, it has some string representation which should be sortable.

It's difficult to wo

[2021-12-02 10:59] tommilligan commented on #85
Hmm, interesting. It's definitely something I run into a lot, and I've seen other users hit this as well.

Currently, we use the `Debug` trait to convert the data structure into a diffable string. I don't think manipulating the diffable string after it's generated is feasible, so that leaves us with a couple of options:

- use a sorted data structure before we generate the debug implementation
- g

[2021-12-07 04:55] DarrenTsung commented on #85
Thanks for the detailed reply @tommilligan! I agree that we wouldn't want this for all cases, eg. sorting a vector where order matters, but would opt-in work though? I'm thinking something like:
[code]

We can also gate the logic with a feature flag.

As you can see from the mention above, I'm starting to work on a PR to implement this functionality in a fork.  It'd make this crate so much more us

[2021-12-07 11:44] tommilligan commented on #85
I think parsing a debug string isn't the way to go, if you're looking to add a feature to this crate - you're inherently duplicating the work of printing + parsing the data. Plus, you're losing the type information that you have in the struct.

On the other hand, if it works for your use personal case, go right ahead! I'd be interested to hear how it turns out, and if you do base it on this crate

[2021-12-07 16:36] DarrenTsung commented on #85
Appreciate the feedback! Unfortunately procedural macros to generate an ordered version of the struct sounds a bit complicated and it seems like it would have to be derived by all nested types which isn't always feasible.

I can build a proof of concept in a separate crate since it sounds like parsing the debug string is not your preferred solution (although I'm less worried about duplicating work

[2021-12-08 23:02] DarrenTsung commented on #85
I created a crate ([pretty_assertions_sorted](https://docs.rs/pretty_assertions_sorted/latest/pretty_assertions_sorted/)) as a proof-of-concept of this. I tested it with my use-case and it works great. Hope this helps anyone with the same issue!

[2021-12-16 14:13] decathorpe opened #86 "LICENSE files missing from published crates since version 1.0.0"
Looks like the published crate was moved from the repository root to a workspace subdirectory in this commit: https://github.com/colin-kiegel/rust-pretty-assertions/commit/0df5d7a50fbb0d4c71ebeb20e528ae104ecd01ca

This results in LICENSE files no longer being included in published crates. Since both MIT and Apache-2.0 licenses require the license text to be included in redistributed sources, pleas

[2021-12-17 08:25] #86 closed

[2021-12-17 08:25] tommilligan commented on #86
Thanks for reporting this - fixed in #87. This will be included in the next release when there is one

[2022-01-31 19:24] x3ro commented on #24
First of all, I want to say thanks to everyone who has contributed to `pretty_assertions` in the past, I think it's a great library.

Since this discussion has stagnated, I just wanted to throw a proposal for a solution out there (see #88). It goes the "easy" route by introducing a new macro variant for strings, `assert_str_eq!`. This variant only works for strings, and does not escape line breaks

[2022-02-01 10:19] #24 closed

[2022-02-01 11:04] tommilligan commented on #24
[`assert_str_eq`](https://docs.rs/pretty_assertions/1.1.0/pretty_assertions/macro.assert_str_eq.html) has been released in v1.1.0, which I believe should broadly cover the issues discussed here - thanks to @x3ro for implementing this and pushing it forward!

Please take a look and see if this covers your use cases. If not, feel free to open a new issue for further discussion.

[2022-02-17 12:48] gibfahn commented on #85
Hit this, tried [pretty_assertions_sorted](https://docs.rs/pretty_assertions_sorted/latest/pretty_assertions_sorted/), it worked great for my use case (simple hash map). It would be nice to have this in the pretty_assertions crate directly if possible.

[2022-02-17 14:13] tommilligan commented on #85
Hi @gibfahn, thanks for your comment, and for checking out the project!

As I've said before I don't believe parsing, sorting and then diffing `Debug` representations is a solid enough strategy for me to be personally comfortable supporting it. As you confirmed that @DarrenTsung's crate worked for your specific case, I'm happy to consider this an edge case with a feasible workaround. Having the de

[2022-02-17 14:13] #85 closed

[2022-02-19 15:50] gibfahn commented on #85
I find this to be a pretty common case, but fair enough. The only real argument I'd have for inclusion in this crate is that I expect a lot of folks to need to come find this crate, find the issue, and then pull in another crate, and that crate has to be kept up-do-date with any changes to `pretty_assertions`.

[2022-03-18 23:14] mre opened #95 "Unexpected regression with 1.2.0"
We use rust-pretty-assertions for [lychee](https://github.com/lycheeverse/lychee).
There is a PR for upgrading to 1.2.0 [here](https://github.com/lycheeverse/lychee/pull/552), which fails because of the changes in #92.
Previously, using `assert_eq` on two `HashSet`s would work, but it fails now because of the missing `AsRef<str>` impl.

Before, the assertion was

[code]

and I could use a workarou

[2022-03-19 07:52] tommilligan commented on #95
Hi, thanks for reporting this. This certainly looks like a bug that you have an upgrade failing with a compile error - I will take a look this weekend and ping you once I know more.

[2022-03-21 15:51] Michael-F-Bryan opened #96 "Abort due to double-panic"
When you use the `assert_eq!()` macro, any panics that are triggered as part of formatting the diff will abort the process. Due to `cargo test`'s default behaviour, the original panic message will also be swallowed unless you use the `--nocapture` flag.

In particular, I ran into this `panic!()`:

https://github.com/colin-kiegel/rust-pretty-assertions/blob/9654759b57a88cec10fd4ffac563a93a80006689/

[2022-03-23 11:38] tommilligan commented on #95
Just to update you - this is definitely a bug, and I think I can see why it happens. I have a couple of avenues of investigation to persue, but I've been sick for a couple of days this week so probably won't make any progress until next weekend.

If you have the time, a minimally failing test case using standard library types would be very useful. I can see your specific test fails, but haven't be

[2022-03-23 13:18] mre commented on #95
Thanks for looking into this and there is certainly no rush on our end to resolve this. The pervious version works fine still and we have a workaround for the the latest version.
I will try to add a test case for it if I find the time, but if anyone else is faster, feel free to give it a shot. 😉

[2022-04-02 07:42] tommilligan commented on #96
Hi - sorry for the slow response. Thank you for reporting this issue, it's definitely a bug and I can confirm I have a minimal reproduction of it.

The issue occurs when the left hand side of the diff contains a trailing newline, and the right hand side does not. As a temporary workaround, you can either:

- update your placeholder value to include a trailing newline, `"asd\n"`
- call `value.trim_

[2022-04-02 08:01] #96 closed

[2022-04-02 08:30] tommilligan commented on #96
A fix has been released in `1.2.1` - please let me know if it doesn't resolve your original case. Thanks again for reporting the issue!

[2022-04-03 03:40] Michael-F-Bryan commented on #96
Thanks @tommilligan!

[2022-04-04 13:30] Logarithmus opened #99 "Show only different part instead of the whole thing"
When diffing 2 big objects which have a small difference in the middle, it's very hard to know what exactly gone wrong. So it would be nice to only display the difference, like `diff` tool does.

[2022-04-04 14:36] tommilligan commented on #99
I can see the potential use for this in some circumstances. However, I can also think of examples made much harder with this. For instance, consider the following data:

[code]

And then the following diff (from `diff -u`):

[code]

Is this easier to debug by being shorter? Without a file to open and jump to line 13 in, I would say this is much harder.

I think reasonably, displaying the shortened

[2022-05-17 16:10] Mingun commented on #15
Unfortunately, this still an issue on some machines. I have the some problem as topicstarter -- cargo output is colored, but `pretty_assertions` outputs ANSI codes instead. This happens only in VSCode integrated terminal (using PowerShell 7.2.0) and only on Windows 7 (Windows 10 and Windows 11 are fine). When I run tests in PowerShell console, output is colored as expected:
![The same output in VS

[2022-06-25 09:58] Mathieu-Lala opened #100 "Improve diff with "\r\n" and "\n""
The output produced by a difference with new lines is not very clear.

To reproduce :

[code]

[code]

I don't know if that has not been thought or if I am doing something wrong.

[2022-06-28 06:35] tommilligan commented on #100
Thanks for the report. This looks like an issue in the underlying `diff`, and transitively, `std` crates, whereby 'lines' are created by splitting on `\n` characters, and then any trailing `\r` characters are stripped:

- [`diff::lines`](https://github.com/utkarshkukreti/diff.rs/blob/0cebd99d70437b1f01d5816a7a21f7554b91e9da/src/lib.rs#L18)
- [`std::str::lines`](https://github.com/rust-lang/rust/bl

[2022-06-28 06:43] tommilligan commented on #100
For anyone wanting to pick up the first approach (print a warning on no diff), the following diff may be useful:

- At the point we iterate through `change`s, accumulate some stats about number of `Both`, `Left` and `Right` changes. Return this from the printing function.
- The caller of the printing function can then decide what to do if, e.g. there are only `Both` changes (no diff).

[code]

[2022-08-19 19:21] Roguelazer opened #101 "ansi_term unmaintained"
[RUSTSEC-2021-0139](https://rustsec.org/advisories/RUSTSEC-2021-0139.html) was filed yesterday marking `ansi_term` as unmaintained (and thus causing a rustsec failure for all users of `pretty-assertions`)

[2022-08-30 10:30] #101 closed

[2022-08-30 11:03] tommilligan commented on #101
Released in 1.3.0

[2022-09-18 06:43] lemolatoon commented on #100
I'm gonna try the first approach.

[2022-10-13 03:45] #37 closed